.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  padding: 46px 0 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

